@import 'core.scss';

.layout {
  min-height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
  padding: 0 15px;
}

.site-layout-background {
  background: #fff;
}